<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="CompanyName">
       <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef ="let element">{{element.CompanyName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="ContactName">
        <th mat-header-cell *matHeaderCellDef>Contact Name</th>
        <td mat-cell *matCellDef ="let element">{{element.ContactName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="ContactTitle">
       <th mat-header-cell *matHeaderCellDef>Contact Title</th>
        <td mat-cell *matCellDef ="let element">{{element.ContactTitle}}</td>
    </ng-container>
    
    <ng-container matColumnDef="City">
       <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef ="let element">{{element.City}}</td>
    </ng-container>
    
    <ng-container matColumnDef="Country">
       <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef ="let element">{{element.Country}}</td>
    </ng-container>
    
    <ng-container matColumnDef="Phone">
       <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef ="let element">{{element.Phone}}</td>
    </ng-container>
    
    <ng-container matColumnDef="Fax">
       <th mat-header-cell *matHeaderCellDef>Fax</th>
        <td mat-cell *matCellDef ="let element">{{element.Fax}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>